<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
	
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.ssdi.controller.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HotelSearchController</servlet-name>
		<servlet-class>com.ssdi.controller.HotelSearch</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FlightSearch</servlet-name>
		<servlet-class>com.ssdi.controller.FlightSearch</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TASearch</servlet-name>
		<servlet-class>com.ssdi.controller.TASearch</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HotelSearchController</servlet-name>
		<url-pattern>/HotelSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlightSearch</servlet-name>
		<url-pattern>/FlightSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TASearch</servlet-name>
		<url-pattern>/TASearch</url-pattern>
	</servlet-mapping>
	
</web-app>
